{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>add employee</h1>

    <form method="post" action="{%url 'createEmp' %}">
      {% csrf_token %}
      <input type="text" name="name" placeholder="name of emp" id="name" />
      <input type="text" name="dept" placeholder="dept of emp" id="dept" />
      <input
        type="email"
        name="email"
        placeholder="enter emp email "
        id="email"
      />
      <button id="addEmpBtn">addEmp</button>
      <!-- <input type="text" name="" id=""> -->
    </form>

    <button id="getAllPosts">getAllPosts</button>
    <div id="allemps"></div>
    <script>
      document.getElementById("getAllPosts").addEventListener("click", () => {
        fetch("{% url 'getAllEmps'%}")
          .then((res) => res.json())
          .then((res) => {
            let allemps = document.getElementById("allemps");
            console.log(allemps,"allemps")
           if(res.employees & res.employees.length>0){
             res.employees.forEach((emp) => {
              console.log(emp,"emp")
              let liTag = document.createElement("li");
              liTag.innerHTML = `
                <span>${emp.name}</span></br></br></br/>
                <span>${emp.dept}</span></br></br></br/>
                <span>${emp.email}</span></br></br></br/>
                <button id="editBtn">edit</button>
                <button id="deleteBtn">delete</button>
                `;
              allemps.appendChild(liTag);
            });
           }
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
